body{
    background: linear-gradient(0deg, rgba(235, 245, 255, 0.4), rgba(246, 247, 248, 0.1));
}
.graph {
    padding: 40px 60px;
    height: calc(100vh - 165px);
}

.active-btn {
    background-color: #303f9f !important;
}

.filter-bar {
    padding: 0 100px;
    .filter-title {
        font-size: 20px;
        margin-left: 12px;
    }

    .filters {
        padding: 15px 0 50px 0;
        display: flex;
        justify-content: space-between;

        .filter {
            margin-left: 10px;
        }

        .toggle-button {
            text-wrap: nowrap;
     } 
    }
}

.chart {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}